body {
  padding: 10px;
}

h1 {
	text-align: center;
}
pre {
	font-family: 'Titillium Web', sans-serif;
}

.buttons {
	margin: 0 auto;
    width: 100%;
    text-align: center;
}
button#cancel {
	background-color: #d9534f;
	border-color: #d9534f;
	color: white;
	width: 90px;
	height: 45px;
	font-size: 20px;
}

button:hover#cancel {
	background-color: white;
	color: #d9534f;
	cursor: pointer;
}

button#authorize{
	background-color: #5cb85c;
	border-color: #5cb85c;
	color: white;
	width: 90px;
	height: 45px;
	font-size: 18px;
}

button:hover#authorize{
	background-color: white;
	color: #5cb85c;
	cursor: pointer;
}

#host, #invoice {
	font-weight: 800;
    display: inline-block;
    float: right;
    width: 80%;
    margin-top: 0px;
    overflow: auto;
    min-height: 24px;
    margin-bottom: 0px;
}

.label {
	display: inline-block;
	width: 20%;
	float: left;
}

.info {
	display: block;
    overflow: auto;
    margin-bottom: 25px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    padding-left: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
}

.row {
	width: 100%;
    height: auto;
    min-height: 24px;
    overflow: auto;
    display: block;
}
}
}